@font-face {
    font-family: 'Raleway', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Raleway");

}

body{
    background: #f8f8f8;

}

h1 {
  padding: 40px 40px 40px 40px;
  text-align: center;
  font-family: 'RaleWay';
  font-weight: 700;
  font-style: italic;

}

.contenedor{
    position: absolute;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%   ;
    background: #ffff;
    height: 100%;
    width: 70%;
    border: 0.5px solid;
    border-color: lightgrey;

}

.child-contenedor{
    background: #ffff;
    text-align: center;
    border: none;
    height: auto;
}

.navegacion{
    margin-top: 60px;
    margin-bottom: 40px;
}

.bloque-posts{
    display: grid;
    grid-template-columns: calc(33.3333% - 35px) calc(33.3333% - 35px) calc(33.3333% - 30px);
    grid-gap: 50px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%
}

.bloque-post-contenido{
    display:flex;
    border: 1px solid;
    flex-direction: column;
    border-color: darkgray;
}

nav{
    display: inline-block;
}


p.post-subject{
    color: #b3b3b3;
    font-size:10pt;
}

form {
  display: inline-block;
}

.ajustado-centro{
    background: #ffff;
    margin-left: 20%;
    margin-right: 20%;
}

.content-index{
  padding-top: 100px;
}



.contenedor-viewpost {
  background: #ffff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  padding: 60px 60px 150px 45px;
  transform: translate(-50%, -50%);
  text-align: center;
}

p.post{
  font-family: clearsans;

}

p.title{
    font-size: 20pt;
    margin : 0;

}
span.subject{
    font-size: 15pt;
    font-family: clearsans;
}
span.author{
  font-size: 10pt;
  margin: 0;
  padding: 0;
}

.btn-primary{
    margin: 0%;
}

a.bloque-post-contenido {
    color: inherit;
    text-decoration: inherit;
  }

a.bloque-post-contenido:hover{
      color: gray;
  }
